@font-face {
    font-family: 'verbexcondregular';
    src: font_url('yellow_design_studio_-_verbexcondregular-webfont.woff2') format('woff2'),
         font_url('yellow_design_studio_-_verbexcondregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbexcondbold';
    src: font_url('yellow_design_studio_-_verbexcondregular-bold-webfont.woff2') format('woff2'),
         font_url('yellow_design_studio_-_verbexcondregular-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbexcondbold_italic';
    src: font_url('yellow_design_studio_-_verbexcondregular-bolditalic-webfont.woff2') format('woff2'),
         font_url('yellow_design_studio_-_verbexcondregular-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbexcondregular_italic';
    src: font_url('yellow_design_studio_-_verbexcondregular-italic-webfont.woff2') format('woff2'),
         font_url('yellow_design_studio_-_verbexcondregular-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'santelia_roughregular';
    src: font_url('yellow_design_studio_-_santeliarough-regular-webfont.woff2') format('woff2'),
         font_url('yellow_design_studio_-_santeliarough-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}