@import "bootstrap";

body {
	font-family: 'verbexcondregular', sans-serif;
	font-size: 1rem;
}

.navbar {
	background: image_url('agsquare.png');
	box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-brand {
	font-family: 'santelia_roughregular';
	font-size: 2.5rem;
	height: 50px;
	padding-bottom: 0px;
}

.nav-link {
	font-family: 'verbexcondregular', sans-serif;
	font-size: 1rem;
	font-weight: bold;
}